@font-face {
    font-family: 'sofia_prolight';
    src: url('sofiapro/sofiapro-light-webfont.eot');
    src: url('sofiapro/sofiapro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sofiapro/sofiapro-light-webfont.woff2') format('woff2'),
         url('sofiapro/sofiapro-light-webfont.woff') format('woff'),
         url('sofiapro/sofiapro-light-webfont.ttf') format('truetype'),
         url('sofiapro/sofiapro-light-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: 'Muli',sans-serif;
    color:#333;
}

h1{
    font-family: 'sofia_prolight', sans-serif;
    font-size: 48px;
    font-size: 10vw;
    color: #aaa;
}

h2 {
    font-family: 'sofia_prolight', sans-serif;
    color: #09c;
    font-weight: 600;
}
h3{
    font-family: 'sofia_prolight', sans-serif;
    color:#aaa;
}
h4{
    font-family: 'sofia_prolight', sans-serif;
    color:#aaa;
    font-size: 18px;
}

h5{
    font-family: 'sofia_prolight', sans-serif;
    color:#0099cc;
    font-size: 20px;
}

p {
    font-family: 'Muli', sans-serif;
    text-align: left;
}

a{
    
    color:#0099cc;
}

a:hover{
    background-color: #ffd633;
}

div:target {
  padding-top: 55px; 
  margin-top: -55px;
}

#welcome:target {
    padding-top: 70px;
}

li em{
    
    font-style: normal;
    font-weight: 600;
}

nav {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 0;
    width:100%;
    height: 55px;
    transition: background .25s;
    text-align: center;
    background-color: #fff;
}

nav li{
    background-color: #fff;
    vertical-align: baseline;
    
}

nav.fixed{
    position:fixed;
    top:0;
    height: 55px;
    z-index: 1;
}

#myNavbar{
	background-color:#fff;
}

.dropdown-menu {
    box-shadow: none;
}

.btn-inline{
    padding-left:0.2em; 
    padding-right:0.2em;
    
}


.section-top{
    padding-top: 35px;
}


.icon-block{
    padding-top: 3em;
    text-align: right;
}

.boxtop {
    max-width:100%;
    height:130px;
    overflow: hidden;
    object-fit: cover;
}

.boxtop img{
    height:100%;
    object-fit: cover;
    
}

.container{
    
    padding-bottom: 35px;
}

.montserrat{
    font-family: 'Montserrat';
    font-size: 75%;
}

#cover-page{
    background:url(https://d17oy1vhnax1f7.cloudfront.net/items/3i3g153m3h1c3B3Y1o1l/p8142755-2000x1500-83.jpg)fixed top center no-repeat;
    width: 100vw;
    padding: 20% 0;
    min-height: 85vh;
    max-height:100vh;
}    

#cover-page h2 {
    font-family: 'Montserrat',sans-serif
    font-size: 16px;
    font-size: 4.5vw;
    color: #0099cc;
}

#welcome {
    margin-top: 50px;
    padding: 10px 75px;
    
}

#time div{
    padding-left: 20px;
}

#weekend-schedule{
    text-align:left;
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #888;
    line-height: 1.8em;
}

#venue div{
    
    padding: 5px;
    overflow: hidden;
}

#venue img{
    max-width: 100%;
    
}


#footer {
    background:url(https://cl.ly/1r0V1K0b0p3n/Blooming%20Hill%20scene%20for%20footer.jpg)fixed bottom center no-repeat;   
}

#footer h3 {
    color: #fff;
    padding: 1em 0;
}

/* below draw guidelines. delete before publishing 
div {
    border: black;
    border-width:thin;
    border-style: dotted;
}
*/

/*map-containter to block mouse scroll on map*/
.map-container {
	width: 100%;
    display: block;
}
.map-container iframe{
	width: 100%;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

/*this checks screen width and then applies a new style (here text-align:right;) on size sm and above*/
@media (min-width: 768px) {
    .text-sm-right{
        text-align: right;
    }
}



